<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Admin Page</title>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container text-center my-5">
    <h1 th:text="${username}"></h1>

    <h2 class="text-center mt-3 mb-5" th:text="${adminMessage}"></h2>
</div>

<div class="btn-group-lg text-center">
    <a class="btn btn-primary" role="button" th:href="@{/admin/user-list}" th:text="#{user.manage.button}"></a>
    <a class="btn btn-primary" role="button" th:href="@{/admin/product-list}" th:text="#{product.manage.button}"></a>
</div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:insert="~{fragments/scripts :: scripts}"></div>
</body>
</html>