<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=JetBrains+Mono">

    <title>Edit products</title>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form autocomplete="off" class="form" th:object="${productForm}" th:method="post">
                <fieldset>
                    <h1 th:text="#{admin.create.product}"></h1>
                    <div class="form-group">
                        <label th:text="#{product.name}"></label>
                        <input type="text" th:field="*{name}" class="form-control input-lg" title="name"
                               autofocus/>
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('name')}"
                             th:errors="*{name}"></div>
                    </div>

                    <div class="form-group">
                        <label th:text="#{product.description}"></label>
                        <input type="text" th:field="*{description}" class="form-control input-lg" title="description"/>
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('description')}"
                             th:errors="*{description}"></div>
                    </div>

                    <div class="form-group">
                        <label th:text="#{product.image_url}"></label>
                        <input type="url" th:field="*{image_url}" class="form-control input-lg" title="image_url"/>
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('image_url')}"
                             th:errors="*{image_url}"></div>
                    </div>

                    <div class="form-group">
                        <label th:text="#{product.price}"></label>
                        <input type="search" th:field="*{price}" class="form-control input-lg" title="price"/>
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('price')}"
                             th:errors="*{price}"></div>
                    </div>

                    <input th:if="${method} == 'new'" class="btn btn-outline-dark" type="submit"
                           th:action="@{/product/new}" th:value="#{product.confirm}"/>
                    <input th:if="${method} == 'edit'" class="btn btn-outline-dark" type="submit"
                           th:action="@{/product/edit/{productId}}" th:value="#{product.cancel}"/>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>