<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Error</title>
</head>

<body>
<div class="container text-center my-5">
    <h1 style="color:orangered">Error occurred!</h1>
    <p>An error has occurred. Please contact the administrator (admin@gmail.com).</p>
</div>

<form th:action="@{/home}" th:method="get">
    <button type="submit" class="btn btn-md btn-warning btn-block">Go to home page</button>
</form>

<div th:insert="~{fragments/scripts :: scripts}"></div>
</body>
</html>