.form-login-heading {
    text-align: center;
}

.container {
    font-size: 16px;
    color: #FF1C20;
    text-align: center;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    width: 500px;
    padding: 10px;
}

input[type="text"] {
    border-radius: 30px;
}

input[type="password"] {
    border-radius: 30px;
}

.btn {
    border-radius: 30px;
    font-size: 20px;
    height: auto;
}