.container {
    width: 800px;
}

.validation-message {
    font-style: italic;
    font-size: 16px;
    color: #FF1C20;
}

.form-registration-heading {
    color: green;
    text-align: center;
    margin-bottom: 30px;
}