body {
    font-family: 'JetBrains Mono', Arial, sans-serif;
}

h1 {
    color: blue;
}

h2 {
    color: red;
}

.table {
    text-align: center;
}

#cart-icon, #github-icon {
    height: 44px;
    width: 44px;
}