<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Computer Store | About</title>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<h1 class="text-center my-5"><strong>About this project</strong></h1>

<div class="container">
    <div class="starter-template my-5">
        <h3>
            Hello! My name is Andrey and this is my first pet project to get familiar with web development.
            During development I have been using a lot of code and ideas from other github users repositories.
            Thanks to them I've been able to build this project (and infinite others sources of information)!
            If you end up here I hope this repository will help you in your journey. Good luck!
        </h3>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:insert="~{fragments/scripts :: scripts}"></div>
</body>
</html>