<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Computer Store | About</title>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="starter-template my-5">
        <h1>Normal page (no login needed)</h1>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:insert="~{fragments/scripts :: scripts}"></div>
</body>
</html>