<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Products</title>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="text-center my-5" th:if="${products.isEmpty()}">
    <h2><strong>There are no products here yet. Please check back later.</strong></h2>
</div>

<div class="container mt-5" style="max-width: 90%" th:if="${!products.isEmpty()}">
    <div>
        <h4><span th:text="#{product.count} + ' ' + ${productsCount}"></span></h4>
    </div>
    <div class="row">
        <div class="card-deck p-3" th:each="product : ${products}">
            <div class="card" style="width: 18rem">
                <img class="card-img-top" th:src="${product.getImageUrl()}" alt="Product image">

                <div class="card-body">
                    <h4 class="card-title"><strong th:text="${product.getName()}"></strong></h4>
                </div>

                <div class="card-footer">
                    <h4 th:text="${product.getPrice()}"></h4>

                    <a class="btn btn-outline-info btn-lg btn-block"
                       onclick="alert('This product has been added to your shopping cart!')"
                       th:href="@{/shopping-cart/add/{id}(id=${product.getId()})}"
                       th:utext="#{product.cart.add.glyphicon} + ' ' + #{product.cart.add}">
                    </a>

                    <a class="btn btn-outline-success btn-lg btn-block"
                       th:href="@{/product/details/{id}(id=${product.getId()})}"
                       th:utext="#{product.cart.details.glyphicon} + ' ' + #{product.cart.details}">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:insert="~{fragments/scripts :: scripts}"></div>
</body>
</html>