<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Wake up!</title>
</head>

<body>

<div class="container text-center mt-5">
    <h1><strong>Wake the f*** up samurai! We have a computer to buy!</strong></h1>
    <a class="btn btn-warning btn-lg btn-block" th:href="@{/product/all}">BUY NOW</a>
</div>

<div class="container text-center">
    <iframe class="giphy-embed center" src="https://giphy.com/embed/fA7rLtaJDIWEzU57CT" width="1024" height="960"
            frameBorder="0" allowFullScreen>
    </iframe>
</div>

<div th:insert="~{fragments/scripts :: scripts}"></div>
</body>
</html>