<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Shopping cart</title>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="text-center my-5" th:if="${products.isEmpty()}">
    <h2 th:text="#{shoppingCart.isEmpty}"><strong></strong></h2>
    <a class="btn btn-primary btn-lg my-3" th:href="@{/product/all}">Browse products</a>
</div>

<div class="container" th:if="${!products.isEmpty()}">
    <h1 class="text-center my-5" th:text="#{shoppingCart.title}"></h1>

    <div class="container-fluid text-center mb-4">
        <h3 th:text="#{shoppingCart.totalCost} + ' ' + ${totalCost}"></h3>
        <a th:href="@{/shopping-cart/checkout}">
            <button type="button" class="btn btn-success btn-lg" th:text="#{shoppingCart.checkout}"></button>
        </a>
    </div>

    <table class="table table-bordered table-hover">
        <!--Add product image-->
        <thead>
        <tr class="table-primary">
            <th scope="col">Product name</th>
            <th scope="col">Image</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.getKey().get().getName()}"></td>
            <td><img style="height: 150px; width: auto;" th:src="${product.getKey().get().getImageUrl()}" alt="Product image"></td>
            <td th:text="${product.getValue()}"></td>
            <td th:text="${product.getKey().get().getPrice()}"></td>
            <td>
                <a class="btn btn-primary" role="button"
                   th:href="@{/shopping-cart/remove/{id}(id=${product.getKey().get().getId()})}"
                   th:text="#{shoppingCart.remove}">
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/shopping-cart/clear/}">
        <button type="button" class="btn btn-info" th:text="#{shoppingCart.clear}"></button>
    </a>
</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:insert="~{fragments/scripts :: scripts}"></div>
</body>
</html>